<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试模版</title>
</head>
<body>
    <node>
        (function(){
        var a=6;
        var b=7;
        resp.write(a+b+"<br/>");
        resp.write(test+"<br/>");
        })();
    </node>
    <include file="head.html"/>
    <p>${test}这里可以直接使用字符串的任意方法：${abc.tf.a.slice(0,3)}</p>
    <form action="http://localhost:3000/do" method="post">
        <input type="text" name="userName" value="成绍勇"/><br/><br/>
        <input type="password" name="password" value="1234567"/><br/><br/>
        <input type="submit" value="提交"/>
    </form>
    <if test="${test<1}">
        <p>大口大111口的贷款111</p>
    <elseif test="${test<100}"/>
        <p>大口大口的贷款222</p>
    <else/>
        <p>大口大口的贷款333</p>
    </if>
    <for from="${list}" value="v1" key="k1">
        <if test="${v1%2==0}">
            ${k1}=>${v1}<br/>
        </if>
    </for>
    <include file="foot.html"/>
    <node>
        (function(){
        var a=1;
        var b=2;
        resp.write(a+b+"<br/>");
        resp.write(test+"<br/>");
        })();
    </node>
    <br/>
    <br/>
    <permit id="1">${PERMIT}显示，该项目id为1<br/></permit>
    <permit id="2">${PERMIT}显示，该项目id为2<br/></permit><permit id="3">${PERMIT}显示，该项目id为3<br/></permit>
    <permit id="4">
        ${PERMIT}显示，该项目id为4<br/>
    </permit>
    <permit id="5">
        ${PERMIT}显示，该项目id为5<br/>
    </permit>
    <permit id="6">
        ${PERMIT}显示，该项目id为6<br/>
    </permit>
    <permit id="7">
        ${PERMIT}显示，该项目id为7<br/>
    </permit>
    <permit id="8">
        ${PERMIT}显示，该项目id为8<br/>
    </permit>
    <permit id="9">
        ${PERMIT}显示，该项目id为9<br/>
    </permit>
    <permit id="10">
        ${PERMIT}显示，该项目id为10<br/>
    </permit>
</body>
</html>