<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试模版</title>
</head>
<body>
    <p>${test}静态成绍勇222html文111件${abc.tf.a}</p>
    <p>这里是静态<if test="${test>abc.tf.a}">123</if>文件内容<if test="${test>abc.tf.a}">456</if></p>
    <form action="http://localhost:3000/do" method="post">
        <input type="text" name="userName" value="成绍勇"/><br/><br/>
        <input type="password" name="password" value="0609030"/><br/><br/>
        <input type="submit" value="提交"/>
    </form>
    <if test="${test<1}">
        <p>大口大111口的贷款111</p>
    <elseif test="${test<100}"/>
        <p>大口大口的贷款222</p>
    <else/>
        <p>大口大口的贷款333</p>
    </if>
    <for from="${list}" value="v1" key="k1">
        <if test="${v1%2==0}">
            ${k1}=>${v1}<br/>
        </if>
    </for>
</body>
</html>